.card {
    position: relative;
}

.card img {
    height: auto;
    width: 100px;
    display: block;
    border-radius: 5px;
    border: 3px solid #fff;
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back {
    transition: all ease 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

@media screen and (max-width: 1024px){
    .card{
        transform: translateX(25%);
    }
    .card img{
        width: 80px;
    }
}
@media screen and (max-width: 500px){
    .card img{
        width: 70%;
    }
}
@media screen and (max-width: 400px){
    .card img{
        width: 65%;
    }
}